<form action="<%= notebooks_url %>" method="POST">
  <label for="notebook-title">
    <input type="text" name="notebook[title]">
  </label>

  <%= render './layouts/form_auth' %>
  <input type="submit" value="Create Notebook">
</form>