<h1>Sign In</h1>

<%= render "./layouts/user_form",
  :button_val => "Sign In",
  :action_url => session_url,
  :hidden_method => nil
%>

<!-- <form action="<%= session_url %>" type="POST">
  <label for="email">
  Email<input type="text" name="user[email]">
  </label>

  <label>
    Password<input type="password" name="user[password]">
  </label>

  <%= render "./layouts/form_auth" %>
  <input type="submit" value="Sign In">
</form> -->

