<form action="<%= notes_url %>" method="POST">
  <label for="note-title">
    <input type="text" name="note[title]" value="Untitled">
  </label>

  <label for="note-body">
    <textarea name="note[body]"></textarea>
  </label>
  <input type="hidden" name="note[notebook_id]" value="<%= notebook.id %>"></input>
  <%= render "./layouts/form_auth" %>
  <input type="submit" value="Save Note"></input>
</form>