<% note ||= nil %>
<%= @notebook.title %>


<!-- <% if !note.nil? %> -->

  <%= note.title %><br><%= note.body %>

  <form action="/notes/<%= note.id %>" method="POST">
    <label for="note-title">Title
      <input type="text" name="note[title]" value="<%= note.title %>"><br>
    </label>

    <textarea name="note[body]" style="width: 600px; height: 400px;"><%= note.body %></textarea>

    <input type="hidden" name="_method" value="PUT">
    <%= render './layouts/form_auth' %>
    <input type="submit" value="Save Changes">
    <br>
  </form>

  <form action="<%= tags_url %>" method="post">

    <label for="tag-title">Tag
      <input type="text" name="tag[title]"><br>
    </label>
    <%= render './layouts/form_auth' %>
    <input type="hidden" name="tag[note_ids][]" value="<%= note.id %>">
    <input type="submit" value="Add Tag">
  <form>

  <% note.tags.each do |tag| %>
    <%= tag.title %>
  <% end %>
  <!-- <form action="<%= tags_url %>" method="POST">
    <label for="tag-title">Tag
      <input type="text" name="tag[title]"><br>
    </label>
    <input type="hidden" name="tag[note_id]" value="<%= note.id %>"></input>
    <%= render './layouts/form_auth' %>
    <input type="submit" value="Add Tag">
  </form> -->
<!-- <% else %> -->
<!-- <form action="<%= notes_url %>" method="POST">
  <label for="note-title">Title
    <input type="text" name="note[title]" value="Untitled"><br>
  </label>
  <textarea name="note[body]"></textarea>
  <input type="hidden" name="note[notebook_id]" value="<%= notebook.id %>">
  <%= render './layouts/form_auth' %>
  <input type="submit" value="Create Note">
</form> -->
<!-- <% end %> -->