<li class='notebook-list-item' data-notebookId="<%= notebook.get('id') %>"
  data-nbTitle="<%= notebook.get('title') %>">
  <a href="#/notebooks/<%= notebook.get('id') %>/<%= notebook.get('title').split(' ').join('.') %>">
    <%= notebook.get('title') %>
  </a>
  <ul class="notebook-dropdown">
    <li class="rename">Rename</li>
    <li><a href="#">Properties</a></li>
    <li class='delete-button'>Delete</li>
  </ul>
</li>

