<% if (typeof note !== "undefined") { %>
  <li class="draggable droppable" data-id="<%= note.get('id') %>" data-noteTitle="<%= note.get('title') %>">
    <a href="#/notes/<%= note.get('id') %>" data-id="<%= note.get('id') %>"
      data-nbTitle="<%= title %>">
      <%= note.get('title') %>
    </a>
  </li>
<% } else { %>
<% console.log('asdfsdfs')  } %>

