<h1>Sign Up</h1>

<%= render './layouts/user_form',
  :action_url => users_url,
  :button_val => "Sign Up",
  :hidden_method => nil
%>

<!-- <form action="<%= users_url %>" type="POST">
  <label for="email">
  Email<input type="text" name="user[email]">
  </label>

  <label>
    Password<input type="password" name="user[password]">
  </label>

  <%= render "./layouts/form_auth" %>
  <input type="submit" value="Sign Up">
</form> -->