<h1><%= currentNotebook.title %></h1>

<a class="create-button" href="#">+ New Note</a>

<% if (note) { %>
<%= note.get('title') %><br><%= note.get('body') %>

    <form>
      <label for="note-title">Title
        <input type="text" name="note[title]" value="<%= note.get('title') %>"><br>
      </label>

      <textarea
        class="edit-note-area"
        name="note[body]"
        data-id="<%= note.get('id') %>"><%= note.get('body') %></textarea>


      <input type="submit" value="Save Changes">
      <br>
    </form>

    <form>

      <label for="tag-title">Tag
        <input type="text" name="tag[title]"><br>
      </label>
      <input type="hidden" name="tag[note_ids][]" value="<%= note.get('id') %>">
      <input type="submit" value="Add Tag">
      <form>
<% } else {console.log("hello")}  %>
