<header class="app-header group">
  <!-- <button id="search">Search</button> -->
</header>

<div id="app-header">
</div>

<div id="main-content" class="group">
  <div id="notebooks-sidebar">
  </div>
  <div id="notes-sidebar">
  </div>
  <div id="note-creation-area">
  </div>
</div>