/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small {
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: baseline;
  list-style: none;
  font-family: sans-serif;
}

body {
  background: #ecf0f1;
  color: #708090;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #708090;
}

.header {
  background-color: #34740e;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px #888888;
}

.nav-bar {
  display: block;
  float: right;
  /*width: 100px;*/
}

.nav-bar ul > li {
  float: left;
  padding: 15px;
  display: block;
}

li {
  list-style: none;
}
nav li {
  float: right;
  text-align: center;
}
.app-header {
  width: 100%;
  background: orange;
}
header button {
  float: left;
}
#main-content {
  margin: auto;
  border-bottom: 1px solid #ccc;
  min-width: 700px;
  min-height: 700px;
}
#main-content > div {
  height: 1000px;
}
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #3d3d3d transparent transparent transparent;
}

#notebooks-sidebar {
  width: 200px;
  float: left;
  padding-left: 10px;
/*  height: 1000px;*/
}

.notebook-dropdown {
  display: none;
}

.notebooks-list {
  margin: auto;
  display: block;
}
.notebooks-list > li {
  position: relative;
  padding: 10px 0px 10px 0px;
}

.notebooks-list > li:hover {
  background: white;
}

.notebooks-list > li:hover > ul {
  position: absolute;
  width: 80px;
  height: 60px;
  left: 100px;
  z-index: 1;
  background: #fff;
  display: block;
  cursor: pointer;
}

.selected-li {
  background: #A9A9AC;
}

.notes-list > li:hover {
  background: gray;
  display: block;
}

.tags-list > li:hover {
  background: gray;
}

.tag-dropdown {
  display: none;
}

.tags-list > li:hover > ul {
  display: block;
  background: white;
  cursor: pointer;
}

.tag-list-item {
  color: #708090;
}

#notes-sidebar {
  width: 300px;
  float: left;
  border-left: 1px solid #ccc;
  background: #fff;
  border-right: 1px solid #ccc;
/*  height: 1000px;*/
}
/* set a min height if you have time*/
#notes-sidebar ul > h3 {
  background: #fff;
  padding: 5px;
  border-bottom: 1px #ccc;
  box-shadow: 0px 0px 5px 0px #888888;
}

#notes-sidebar ul > li {
  padding: 5px 2px 5px 2px;
  display: block;
  border-bottom: 1px solid #ccc;
  min-height: 50px;
}

.center {
  margin: auto;
}

#note-creation-area {
/*  float: left;*/
  border-left: 1px solid #ccc;
  background: #ecf0f1;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 510px;
  border-left: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 400px;
  display: block;
}


.create-button{
border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:20px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
 background-image: -o-linear-gradient(top, #4ba614, #008c00);
 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.create-button:hover{
 border:1px solid #224b09;
 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
 background-image: -webkit-linear-gradient(top, #36780f, #005900);
 background-image: -moz-linear-gradient(top, #36780f, #005900);
 background-image: -ms-linear-gradient(top, #36780f, #005900);
 background-image: -o-linear-gradient(top, #36780f, #005900);
 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}




