<form action="<%= action_url %>" method="POST">
  <label for="email">
  Email<input type="text" name="user[email]">
  </label>

  <label>
    Password<input type="password" name="user[password]">
  </label>

  <%= render "./layouts/form_auth" %>

  <% if hidden_method && hidden_method === "PUT" %>
    <%= '<input type="hidden" name="_method" value="PUT"' %>
  <% end %>
  <input type="submit" value="<%= button_val %>">
</form>