<!DOCTYPE html>
<html>
<head>
  <title>Enclone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>
<body>
  <!-- overflow hidden text-overflow: clip text overflow ellipsis -->
  <div class="header group">
    <nav class="nav-bar">
      <ul class="group">
        <% if logged_in? %>
          <li><%= current_user.email %></li>
          <li><%= button_to "Sign Out", session_url, :method => :delete %></li>
        <% else %>
        <!-- <li>< #link_to "Sign In", new_session_url ></li>
        <li>< #link_to "Sign Up", new_user_url ></li> -->
        <% end %>
      </ul>

    </nav>
  </div>

<%= yield %>
<% if flash[:errors] && flash[:errors].any? %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
</body>
</html>
