<li class='draggable droppable tag-list-item' data-id="<%= tag.get('id') %>">
    <%= tag.get('title') %>
  <ul class="tag-dropdown">
    <li class='rename'>Rename</li>
    <li class='delete'>Delete</li>
  </ul>
</li>